@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="d-flex justify-content-center align-items-center">
        <form id="account" method="post" style="min-width: 350px;">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Remember me -->
            <div class="checkbox d-flex justify-content-end">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input me-1" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>

            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>

            <div class="mt-2">
                <p><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a></p>
            </div>

            <!-- Đăng nhập bằng Google -->
            @if ((Model.ExternalLogins?.Count ?? 0) > 0)
            {
                <div>
                    <hr />
                    <p class="text-center">Or log in with:</p>
                    @foreach (var provider in Model.ExternalLogins!)
                    {
                        <button type="submit"
                                form="external-account"
                                class="btn border border-dark w-100 mt-2 d-flex align-items-center justify-content-center"
                                name="provider" value="@provider.Name">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z" />
                            </svg>
                             Sign in with Google
                        </button>
                    }
                </div>
            }
        </form>

        <!-- External login form nằm ngoài form chính -->
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="d-none"></form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
